.vscode
a.out
build/evaluacion_3_1.aux
build/evaluacion_3_1.log
build/evaluacion_3_1.toc
build/evaluacion_3_1.fdb_latexmk
build/evaluacion_3_1.fls
build/evaluacion_3_1.synctex.gz
.DS_Store
build/.DS_Store